* {
  font-family: Helvetica;
}

.header {
  display: flex;
}

.lewy-header,
.prawy-header {
  background-color: rgb(70, 130, 180);
  color: white;
  width: 25%;
  height: 80px;
}

.srodek-header {
  background-color: rgb(70, 130, 180);
  color: white;
  width: 50%;
  height: 80px;
  text-align: center;
}

main {
  background-color: rgb(224, 255, 255);
  padding: 40px;
}

.lewy,
.prawy {
  background-color: rgb(70, 130, 180);
  width: 50%;
  height: 200px;
  text-align: center;
  float: left;
}

footer {
  background-color: rgb(224, 255, 255);
}

table {
  border: 1px solid blue;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid blue;
}

th {
  border: 1px solid blue;
  color: white;
  background-color: blue;
}
